<div class="container">
  <div class="text-center">
    <h2>Contact Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur eius possimus eum quibusdam consectetur, commodi quidem sunt sapiente ducimus cum unde officia voluptatum facilis tempora. Libero tempora non sequi tenetur.</p>

    <div class="row">
      <div class="col-md-6">
        <app-card>
          <h5 class="card-title">Mobile</h5>
          <a routerLink="mobile" class="btn btn-success">Know More About Mobile</a>
        </app-card>
      </div>

      <div class="col-md-6">
        <app-card>
          <h5 class="card-title">Refrigerator</h5>
          <a routerLink="mobile" class="btn btn-success">Know More About Refrigerator </a>
        </app-card>
      </div>

      <div class="col-md-6">
        <app-card>
          <h5 class="card-title">TV</h5>
          <a routerLink="mobile" class="btn btn-success">Know More About Tv</a>
        </app-card>
      </div>

      <div class="col-md-6">
        <app-card>
          <h5 class="card-title">Washing Machine</h5>
          <a routerLink="mobile" class="btn btn-success">Know More About Washing Machine</a>
        </app-card>
      </div>

      </div>
    </div>
  </div>
