<!-- <p>App Component Works!!!!</p> -->

  <!-- <app-main></app-main> -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-db-assignment></app-db-assignment> -->
  <!-- <app-directives></app-directives> -->
  <!-- <app-about-us></app-about-us>
  <app-products></app-products>
  <app-contact-us></app-contact-us> -->

  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/products">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contact">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/buyProducts">BUY PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/page not found">Page Not Found</a>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet></router-outlet>
  <!-- <app-directives></app-directives> -->


